@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/*
#mainCanvas
{
    display: block;
    margin: 0 auto;
}
*/

.CanvasBackground {
  background: url("/map.png") center center/contain no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place the background behind the canvas */
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.side-panel {
  position: fixed;
  top: 0;
  right: -300px; /* Adjust the width as needed */
  height: 100%;
  width: 300px; /* Adjust the width as needed */
  background-color: black;
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
}

.side-panel.open {
  right: 0;
}