
.canvas-container {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas-container.sidebar {
  margin-right: 300px; /* Width of the side panel */
}

  
canvas {
  display: block;
}

.canvas-background {
  background: url("/map.png") center center/contain no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place the background behind the canvas */
}



  .side-panel {
    position: fixed;
    top: 0;
    right: -300px;
    height: 100%;
    width: 300px;
    background: linear-gradient(to bottom, #c0c0c0, #7d7a78);
    color: black;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Added box-shadow transition */
  }

  label{
    font-size: large;
    font-weight: bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  input{
    font-size: large;
    font-weight: bolder;
  }

  .side-panel .bordered-button-togglepanel{
    width: 170px;
    border-radius: 20px;
  }
  
  
  /* Button styling */
  .side-panel button {
    display: block;
    width: 270px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    background-color: rgb(231, 164, 41);
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Added transform and box-shadow transitions */
  }

  .side-panel .borderedd-button-update{
    background-color: green;
    border-radius: 20px;
    margin-left: 15px;

  }

  .side-panel .borderedd-button-update:hover{
    background-color:#45a049;
  }

  .side-panel .borderedd-button-revert{
    background-color: rgb(251, 78, 78);
    border-radius: 20px;
    margin-left: 15px;
    
  }
  .side-panel .borderedd-button-revert:hover{
    background-color:rgb(218, 67, 67) ;
  }

  .side-panel .borderedd-button-timer{
    background-color: rgb(231, 164, 41);
    border-radius: 20px;
    margin-left: 15px;
  }

  .side-panel .borderedd-button-timer:hover{
    background-color:#e29015;
  }

  /* Hover effect for buttons */
  .side-panel button:hover {
    background-color: #cf7c00;
    transform: scale(1.001); /* Scale effect on hover */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Increased box shadow on hover */
  }
  

.side-panel.open {
  right: 0;
}

.side-panel-header {
  display: flex;
  background-color: #a19d9b;
  margin-bottom: 10px; /* spacing underneath the tabs */
}

.tab-button {
  flex: 1;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  color: #000;
  border-right: 1px solid #ccc; /* border between tabs */
  text-align: center; 
}

.tab-button:last-child {
  border-right: none; /* remove the border from the last tab */
}

.tab-button:hover {
  background-color: #ddd;
}

.tab-button.active {
  background-color: #cf7c00;
}

div label {
  display: inline-block;
  width: 100px; 
  padding-left: 5px;
}

div input {
  width: 170px; 
  box-sizing: border-box;
  margin-bottom: 5px; 
}


